<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>"CustomerDeviceApp"</title>

    <!-- build:css styles/vendor.css -->
    <!-- <link rel="stylesheet" href="vendor/some.contrib.css"> -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/ionic/release/css/ionic.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>

  <body ng-app="CustomerDeviceApp">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Customer App</h1>
      </ion-header-bar>
      <ion-content>
      </ion-content>
    </ion-pane>

    <!-- build:js scripts/vendor.js -->
    <!-- <script src="vendor/someContribJs.js"></script> -->
    <!-- bower:js -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/ionic/release/js/ionic.js"></script>
    <script src="lib/ionic/release/js/ionic-angular.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.js"></script>
    <script src="lib/lodash/lodash.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>


    <!-- build:js scripts/scripts.js -->
    <script src="scripts/config.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/controllers.js"></script>
    <!-- endbuild -->


    <script id="login.html" type="text/ng-template">
      <!-- The title of the ion-view will be shown on the navbar -->
      <ion-view title="Welcome to {{programName}} - Staff login">
        <ion-content>
          <form class="list list-inset" ng-submit="login()">
            <label class="item item-input">
              <span class="input-label">Staff Id</span>
              <input type="text" ng-model="staffInput.Id" placeholder="Type your Id" required autofocus>
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="staffInput.Pin" placeholder="Type your password" required>
            </label>

            <button class="button button-positive button-block">Touch to select table</button>
          </form>
        </ion-content>
      </ion-view>
    </script>


    <script id="tables.html" type="text/ng-template">
      <ion-view title="Touch a table number to select it">
        <ion-content>
          <div ng-repeat="table in tables">
            <button class="button button-positive" ng-click="TableSelected($index)"
                    style="position:absolute;top:{{table.tableXpos}};left:{{table.tableYpos}};height:150px;width:150px">
              {{table.tableNumber}}
            </button>
          </div>
        </ion-content>
      </ion-view>
    </script>

  </body>
</html>
